.anime{
    padding-top: 20px;
    color: #b7b7b7;
    margin-bottom: 50px;
    
    &__info{
        display: flex;
        gap: 30px;
        align-items: center;

        &-add{
            cursor: pointer;
            font-size: 13px;
            color: #ffffff;
            background: rgb(73, 73, 73);
            display: inline-block;
            font-weight: 700;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding: 14px 20px;
            border-radius: 4px;
            margin-right: 11px;
            outline: none;
            border: none;
        }

        &-pic{
            min-width: 30vw;
            max-width: 30vw;
            object-fit: cover;
        }

        &-text{
            &-top{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 15px;
            }

            &-title{
                color: white;
                font-weight: 700;
                font-size: 30px;
            }

            &-sub-title{
                font-size: 18px;
            }

            &-score{
                color: white;
                text-align: center;

                h3{
                    font-size: 21px;
                }

                p{
                    font-size: 18px;
                }
            }
        }

        &-desc{
            margin-bottom: 30px;
        }

        &-categ{
            display: flex;
            margin-bottom: 20px;

            ul{
                padding-right: 90px;

                li span{
                    color: white;
                }
            }
        }
    }
}

.followed{
    background-color: #e53637;
}

@media (max-width: 1023px){
    .anime__info{
        flex-wrap: wrap;
        justify-content: center;
    }

    .anime__info img{
        max-width: 50vw;
        width: 100%;
    }

    .anime__info-text{
        font-size: 18px;
    }

    .anime__info-text-titles h2{
        font-size: 50px;
    }

    .anime__info-text-titles h3{
        font-size: 38px;
    }

    .anime__info-text-score{
        width: 40vw;
    }
}